/* App.css */

/* Navigation styles */
.navigation {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  gap: 20px;
  background-color: #dbe2ef;
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content; /* Adjust width to fit content */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-links li {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #3f72af;
}
/* Header styles */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
  justify-content: center; /* Centers vertically */
  min-height: 50vh;
  text-align: center;
  background-color: #f9f7f7; /* Change the background color */
  color: #3f72af; /* Pastel blue */
  border-radius: 8px;
  padding: 20px;
}

/* Main content styles */
main {
  text-align: center;
}

/* Unordered list and list item styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #3f72af; /* Pastel blue */
}

.flash-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

/* App.css */
.contact-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #3f72af;
  color: #fff;
  cursor: pointer;
}

.contact-form button:hover {
  background: #35567d;
}

