/* Projects.css */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .project-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: left;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .gallery-item {
    text-align: center;
  }
  
  .gallery-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .prototype-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3f72af;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .prototype-button:hover {
    background-color: #2e537b;
  }
  
  /* Adjusting image4 size */
  .image-smaller {
    width: 50%; /* Adjust width to desired size */
    max-width: 400px; /* Set max-width to ensure it doesn't get too large */
    height: auto;
  }
  